{% extends "layouts/layout.html" %}
{% block content %}
    <H2 class="arial">Watchlist:</H2>
    <div>
    <table>
        <tr class="arial">
            <th>ID</th><th>Company name</th><th>Ticker</th><th>Exchange</th><th>Industry</th>
            <th>Company location</th><th>File URL</th>
        </tr>
        {% for company in data %}
        <tr>
            {% for c in company %}
            <td align="left" valign="top">
                {% if c is string and (c[-5:] == ".html") %}
                <a href="http://127.0.0.1:5000/watchlist/{{ c }}">{{ c }}</a>
                {% else %}
                <p>{{ c }}</p>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock content %}
