{% extends "layouts/layout.html" %}
{% block content %}
    <H2>Watchlist</H2>
    <table>
        <tr>
            <td align="left" valign="top">
            <p>Company no. 1: </p>
                <hr>
            </td>
            <td align="left" valign="top" colspan=2>
            <p>Details </p>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top">
             <p>Company no. 2: </p>
                <hr>
            </td>
            <td align="left" valign="top">
            <p>Details</p>
            </td>
        </tr>
            <td align="left" valign="top">
             <p>Company no. 3: </p>
                <hr>
            </td>
            <td align="left" valign="top">
            <p>Details</p>
            </td>
        </tr>

    </table>
{% endblock content %}
